<div class="row">
	<div class="col-md-12">
		
		<div class="panel panel-success">
		  <div class="panel-body">
				<div class="col-md-2" style="padding-left 0px; font-size: 18px">
					<% names = %w(dancers boxers painters fencers writers builders sculptors carpenters) %>
					<strong>#<%= names[team_counter] %></strong>
				</div>
				<% team.summoners.each do |summoner| %>
				<div class="col-md-2" style="marin-top: 5px; margin-bottom: 5px;">
					<%= summoner.summonerName %>
				</div>
				<% end %>
		  </div>
		</div>

	</div>
</div>