<tr>
	<% names = %w(dancers boxers painters fencers writers builders sculptors carpenters) %>
	<td><strong>#<%= names[team_counter] %></strong></td>
	<% team.summoners.each do |summoner| %>
	<td><%= summoner.summonerName %></td>
	<% end %>
</tr>
