<tr>
	<td>
		<strong>Team #<%= team_stat_counter %></strong><br/>
		<%= team_stat.summoners.inject(0) {|sum, n| sum + n.elo} %>
	</td>
	<% team_stat.summoners.each do |summoner| %>
		<td>
			<%= summoner.summonerName %><br/>
			<i><%= summoner.elo %></i>
		</td>
	<% end %>
</tr>
			
