<div class="row">
	<div class="col-md-12">
		<div class="col-md-2">
			<strong>Team #<%= team_counter %></strong>
		</div>
		<% team.summoners.each do |summoner| %>
		<div class="col-md-2">
			<%= summoner.summonerName %>
		</div>
		<% end %>
	</div>
</div>