<% provide(:title, "Teams") %>
<section id="teams_index">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <div class="col-md-8 col-md-offset-2">
      <div class="well semi_transparent">
        <h1><u>Listing Teams</u></h1>

        <table>
          <thead>
            <tr>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @teams.each do |team| %>
              <tr>
                <%= team.id  %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
  