<% provide(:title, "Teams") %>
<section id="teams_index">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <div class="col-md-8 col-md-offset-2">
      <div class="well semi_transparent">
        <h1 class="bold-title"><u>Listing Teams</u></h1>

        <% if @teams.count == 0 %>
          <h3 class="text-center bold-title">Teams have not been built yet</h3>
        <% end %>
      </div>
    </div>
  </div>
</section>
  