<% provide(:title, "Format") %>
<section id="format">
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<div class="page-header">
			  <h1 class="text-center">Format Overview</h1>
			</div>

			<h4>
				Tournament Rules:
			</h4>
			<ul>
				<li>Game Type: Tournament Draft</li>
				<li>Map: Summoner’s Rift</li>
				<li>Team Size: 5</li>
				<li>Number of teams: 8</li>
				<li>Double elimination, best of one</li>
				<li>Requirements: A ranked account (lvl 30, 16+ owned champions, 10+ ranked games played)</li>
			</ul>
		
			<h4>
				Cash Prizing:
			</h4>
			<ul>
				<li>1st place: $250</li>
				<li>2nd place: $100</li>
			</ul>
				
			<h4>
				RP Prizing (*PENDING RIOT APPORVAL):
			</h4>				
			<ul>
				<li>1st place: 5000 RP, Ryze, Triumphant Ryze, 10-Win IP Boost</li>
				<li>2nd place: 4000 RP, 10-Win IP Boost</li>
				<li>3rd place: 2500 RP, 10-Win IP Boost</li>
				<li>4th place: 1500 RP, 10-Win IP Boost</li>
				<li>5th-8th place: 10-Win IP Boost</li>
			</ul>
	
			<h4>
				How it works:
			</h4>
			<ul>
				<li>Your account ranking is used to generate balanced teams</li>
				<li>You will get your team roster 5 days prior to the event; get some practice with your team!</li>
				<li>When you arrive - organizers will tell you which station you are at and when you are playing (there are 8 stations at Happy Turbo)</li>
				<li>Computers are free as long as your team is still in the tournament!</li>
				<li>Headsets/Microphones are recommended for team communication, or you can just yell!</li>
				<li>Bring food and water or plan to buy lunch! You need energy to win!</li>
			</ul>
			
			<h4>
				Duo Partners:
			</h4>
			<ul>
				<li>Purchase a duo ticket with the name of both summoners, alternativly send a message to the admin 'Andrew Klotz' with the duo summoner names</li>
				<li>Limit of 12 duo spots</li>
				<li>Diamond+ cannot duo with another Diamond+, you partner has to be plat or lower!</li>
			</ul>
			
		</div>
	</div>
</section>