<% cache do %>
	<% provide(:title, "Format") %>
	<section id="format">
		<div class="container">
			<div class="col-md-10 col-md-offset-1">
				<div class="well semi_transparent">
					<div class="page-header">
					  <h1 class="text-center">Format Overview</h1>
					</div>

					<h2 class="text-center" id="series">Tournaments</h2>
					<h4>
						Tournament Rules:
					</h4>
					<ul>
						<li>Game Type: Tournament Draft</li>
						<li>Map: Summoner’s Rift</li>
						<li>Team Size: 5</li>
						<li>Number of teams: 8</li>
						<li>Double elimination, best of one</li>
						<li>Requirements: A ranked account (lvl 30, 16+ owned champions, 10+ ranked games played)</li>
					</ul>

					<h4>
						How it works:
					</h4>
					<ul>
						<li>Your account ranking is used to generate balanced teams</li>
						<li>You will get your team roster ~7 days prior to the event; get some practice with your team!</li>
						<li>When you arrive - organizers will tell you which station you are at and when you are playing (there are 8 stations at Happy Turbo)</li>
						<li>Computers are free as long as your team is still in the tournament!</li>
						<li>Headsets/Microphones are recommended for team communication, or you can just yell!</li>
						<li>Bring food and water or plan to buy lunch! You need energy to win!</li>
					</ul>
					
					<h4>
						Duo Partners:
					</h4>
					<ul>
						<li>Purchase a duo ticket with the name of both summoners, alternatively send a message to the admin 'Andrew Klotz' with the duo summoner names</li>
						<li>Limit of 12 duo spots</li>
						<li>Diamond+ cannot duo with another Diamond+, you partner has to be plat or lower!</li>
					</ul>
					
					<h2 class="text-center" id="series">Series Tournaments</h2>
					<h4>
						Made of many individual single Tournaments:
					</h4>
					<ul>
						<li>Each tournament has balanced teams</li>
						<li>Teams are different tournament to tournament in the series</li>
						<li>You can play in one or all of the tournaments in the series</li>
						<li>RP prizing for each tournament in the series, same as regular tournaments</li>
						<li>Cash prizing is based off performance over all the series</li>
						<li>You do not need to play in all the tournaments to win cash prizing</li>
						<ul>
							<li>e.g. 1st place in 2 tournaments will give you 2000 series points'; potentially putting you in 1st place for the series compared to playing in all 3, but earning < 2000 series points</li>
						</ul>
					</ul>
				</div>
			</div>
		</div>
	</section>
<% end %>