<% provide(:title, "Rules") %>

<section id="rules">
	<div class="container">
		<div class="page-header">
		  <h1 class="text-center">Rules</h1>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				General
				<ul>
					<li>Any violation of the following rules will result in warnings, disqualification and/or removal from the tournament based on the severity of the situation and the decision of the tournament admin</li>
					<li>Smurfing is a serious offense in Solo/Duo Queue tournaments, and results in a perma-ban of player/summoner</li>
					<ul>
						<li>Players must play on their highest ranked account</li>
						<li>Players may not play on a friends account</li>
					</ul>
					<li>If you will be unable to attend, let an admin know asap! Registering and missing part/all of the event may result in a temporary ban at the admins descretion (it hurts the experience of the rest of your team)
					<li>No Racism, Spamming, Raging, Trolling, Sexual Harassment, Trash Talking, or Verbal Harassment</li>
					<li>Players must be physically present 15 minutes before their start time (first match starts at 10:20am) if players are missing/late, the tournament administrator can force a match to start (resulting in a 4v5 or forfeit) if a ringer of equal or lower rank is available, they can play that match (tournament prize goes to the 5 players in the final match) If players are caught cheating, they will be removed from the event</li>
					<li>If a players account is suspended for the tournamet, they will not be able to play in the tournament and be issued a refund if applicable</li>
					<li>Taking advantage of bugs or glitches may result in a disqualification of the player or team.</li>
					<li>If there are more than 12 duo pairs, only the first 12 will be drafted as duo (we can't make balanced teams if everyone is duo!)</li>
				</ul>

				Equipment
				<ul>
					<li>Players can bring their own equipement, keyboard/mice/headsets. PCs are provided (computer+keyboards+mouse)</li>
					<li>Anytime a player needs to plug/unplug equipment into the back of a computer, they need to get the tournament administrators attention</li>
				</ul>

				Pauses/Remakes
				<ul>
					<li>Each team is allowed up to 10 minutes of pause time</li>
					<li>A game can only be unpaused after a ready check from ALL of the players in the game or a representative verifying with his whole team and giving the ready check for them.</li>
					<li>Abuse of the pause feature (excessively pausing and pausing during combat) will not be tolerated. Players will receive one warning if this occurs. Repeatedly pausing the game will be a cause for the organizers of the event to disqualify the pausing team.</li>
					<li>If there is a disconnecting member before five minutes, the team can ask the tournamnet admin for a remake (with same picks/bans)</li>
					<li>If a player does not show up, a ringer of the same rank (Bronze, Silver, etc.) can play in their place. If no ringer is available, the team must play a 4v5 or forferit the game</li>
					<li>Remakes will not be allowed for technical issues - pause until the issue is resolved (there isn't enough time for many remakes, sorry!)</li>
				</ul>

				Arriving late
				<ul>
					<li>Please try to arrive early! These are latest times where matches MUST either be started with available players (enter champ select phase) or forfeited (sorry!):</li>
					<ul>
						<li>1st match: 10:45am</li>
						<li>2nd match: 12:00pm</li>
					</ul>
					<li>Exception will be made in case the previous match time overlaps (e.g. 70+ minute game)</li>
					<li>These times are set to ensure the tournament starts and finishes on time</li>
				</ul>

				Ringers
				<ul>
					<li>If one of your teammates leaves/does not show, we will try to find a ringer for your team</li>
					<ul>
						<li>Ringers play for free</li>
						<li>Ringers must be physically present at the event</li>
						<li>Ringers must be +/- 1 division of origional player</li>
						<li>Ringers cannot play on more than 1 team/tournament</li>
					</ul>
					<li>What happens if origional player returns after a ringer has been found (e.g. player showed up late)</li>
					<ul>
						<li>If ringer plays 2+ games, they permantly take the origional persons position</li>
						<li>If ringer plays 1 game, the origional player may return to the team (*subject to admin aproval)</li>
					</ul>
					<li>Late teammmates and placing ringers</li>
					<ul>
						<li>1st round ringers will be placed between 10:30am-10:40am</li>
						<li>2nd round ringers will be placed between 11:45am-11:55am</li>
						<li>All following rounds will be placed asap</li>
					</ul>
				</ul>

				Refunds
				<ul>
					<li>Refunds are available if a player gives 1+ weeks notice of event starting, so there is adequate time to find a replacement before teams have been generated</li>
					<li>No refunds available within 1 week of event start date</li>
					<li>Before teams have been generated, players can request their ticket be transferred to a friend of any rank </li>
					<li>After teams have been generated, players can request their ticket be transferred to a friend of equal rank+division</li>
				</ul>
				<p class="text-center">*Tournament Administrator has the final say in all decisions*</p>
			</div>
		</div>
	</div>
</section>