<% provide(:title, @user.name) %>
<section id="user_login">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="well semi_transparent">
      	<h1><%= @user.name %></h1>
      	<p class="text-center"><%= "(admin)" if @user.admin %></p>
      	<div class="btn btn-default">Add Summoner</div>
      	<div class="btn btn-default">Streamer Profile</div>
      	<div class="btn btn-default">Orgonizer Profile</div>
				<%= link_to 'Edit', edit_user_path(@user) %> |
				<%= link_to 'Back', users_path %>
      </div>
    </div>
  </div>
</section>              	