<%= form_for(@series_participation) do |f| %>
  <% if @series_participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series_participation.errors.count, "error") %> prohibited this series_participation from being saved:</h2>

      <ul>
      <% @series_participation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
