<tr>
  <td><%= series_participations_counter + 1 if series_participations.points %></td>
  <td><%= series_participations.summoner.summonerName %></td>
  <td><%= series_participations.points %></td>
  <% total_tournaments.times do |x| %>
  	<td></td>
  <% end %>
</tr>