@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway);

body section {
	min-height: 100vh;
	margin-top: 50px;
	padding-top: 30px;
}

.bold-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

nav {
	img {
		max-width: 50px;
		margin-top: -17px;
		display: inline;
	}
	strong {
		display: inline;
	}
	#brand-text {
		padding-left: 0;
	}
}
