// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#teams_index {
	background: url("teambuilder-wallpaper.jpg") no-repeat center center fixed;
	.semi_transparent {
	  background: rgba(225, 225, 225, 0.75) none repeat scroll 0% 0%;
	  color: black;
	  margin-top: 25px;
	}
	h1 {
	  	text-align: center;
	  	
	}
}