// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tournament_show {
	background: url("teambuilder-wallpaper.jpg") no-repeat center center fixed;
	min-height: 550px;
	.semi_transparent {
	  background: rgba(225, 225, 225, 0.75) none repeat scroll 0% 0%;
	  color: black;
	  margin-top: 25px;
	  h1 {
	  	text-align: center;
	  }
	  h2 {
	  	text-align: center;	
	  	margin-top:0px;
	  }
	  h3 {
	  	text-align: center;	
	  }
	  h4 {
	  	text-align: center;	
	  }
	  h5 {
	  	text-align: center;	
	  }
	  .row {
	  	margin-top:25px;
	  }
	  .row {
	  	margin-top: 15px;
	  }
	}
	.btn-success {
		color: white;
		width: 250px;
	}
	.btn-primary {
		color: white;
		width: 250px;
	}
	.btn-default {
		width: 250px;
	}
	.btn-warning {
		color: white;
		width: 150px;
		margin-top: 15px;
	}
	.tourney_register {
		text-align: center;	
}
	.register_title {
		text-align: center;
		margin-top: 0px;
		margin-bottom: 20px
	}
}

#tournaments_index {
	background: url("teambuilder-wallpaper.jpg") no-repeat center center fixed;
	min-height: 550px;
	.semi_transparent {
	  background: rgba(225, 225, 225, 0.75) none repeat scroll 0% 0%;
	  color: black;
	  margin-top: 50px;
	}
	h1 {
	  	text-align: center;
	  }
	th {
		padding-left: 0px;
		padding-right: 0px;
	}
	.btn-success {
	  	color: white;
	}
	.btn-danger {
	  	color: white;
	}
	table tr td {
		margin-bottom: 50px;
	}
}