<% provide(:title, "#{@series.name}") %>

<section id="tournament_show">
	<div class="container">
		<p id="notice"><%= notice %></p>


		<div class="col-md-8 col-md-offset-2">
			<div class="well semi_transparent">
				<h2><%= @series.name %></h2>
				<h4>This series has <%= @series.tournaments.count %> tournaments</h4>

				<div class="row">
					<div class="col-md-6">
						<p>Cash prizing for performance across the series</p>
					</div>
					<div class="col-md-6">
						<p>RP Prizing for each tournament</p>
					</div>
				</div>
			</div>
		
			<% @series.tournaments.order(start_date: :asc).each do |tournament| %>
				<%= render 'tournaments/tournament', tournament: tournament %>
			<% end %>

			<div class="well semi_transparent">
				<h2>Series Prizing</h2>
				<div class="row">
					<div class="col-md-6">
						<h4>Each Tournament</h4>
							<p>RP Prizing (*PENDING RIOT APPORVAL):</p>
							<ul>
								<li>1st place: 4200 RP, Ryze, Triumphant Ryze, 10-Win IP Boost </li>
								<li>2nd place: 3000 RP, 10-Win IP Boost </li>
								<li>3rd place: 1800 RP, 10-Win IP Boost </li>
								<li>4th place: 1000 RP, 10-Win IP Boost</li>
								<li>5th-8th place: 10-Win IP Boost</li>
							</ul>

							<p>Series points for each tournament:</p>
							<ul>
								<li>1st place team: 1000 points per player</li>
								<li>2nd place team: 800 points per player</li>
								<li>3rd place team: 600 points per player</li>
								<li>4th place team: 500 points per player</li>
								<li>5th place team: 400 points per player</li>
								<li>6th place team: 300 points per player</li>
								<li>7th place team: 200 points per player</li>
								<li>8th place team: 100 points per player</li>
							</ul>
					</div>
					<div class="col-md-6">
						<h4>End of Series</h4>
						<p>Based on most series points</p>
						<ul>
								<li>1st place player: $250</li>
								<li>2nd place player: $150</li>
								<li>3rd place player: $100</li>
								<li>4th place player: $75</li>
								<li>5th place player: $50</li>
						</ul>
					</div>
				</div>
				<p class="text-center">*Cash prizing may be subject to change if a series tournament is canceled</p>
			</div>
		</div>

	</div>
</section>